{% extends "base.html" %}

{% block contents %}
<div id="chatpanel">
</div>

<div id="userlist">
    <p>
        Pusher를 이용한 실시간 채팅 앱 만들기<br>
        <a href="http://pusher.com/">http://pusher.com/</a><br><br>
    </p>

    <h3>사용자 목록</h3>

</div>

<div id="chatform">
    <div class="form-group">
        <div class="input-group input-group-lg">
            <div class="input-group-addon color-{{ color }}" id="username">{{ username }}</div>
            <input type="hidden" id="userid" value="{{ user_id }}"/>
            <input class="form-control input-lg" type="text" id="msg" placeholder="Insert Message">
        </div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        var pusher = new Pusher('691096b1d647e3dc54f8');
        var channel = pusher.subscribe('Dolearn');

        channel.bind('event_msg', function (data) {

            $('#chatpanel').append("<div class='color-" + data.color + "''><h2><img src='" + data.img +"'/>  " + data.name + " <small>" + data.msg + "</small></h2></div>");
            var $box = $('#chatpanel');
            var height = $box.get(0).scrollHeight;
            $box.scrollTop(height);
        });
    });
</script>
<script src="{{ url_for('static', filename='js/chat.js') }}"></script>
{% endblock %}
