{% extends "base.html" %}

{% block front %}
<div id="maximage">
  <img src="../static/images/front_001.jpg" width="1440px" height="740px">
  <img src="../static/images/front_002jpg" width="1440px" height="740px">
  <img src="../static/images/front_003.jpg" width="1440px" height="740px">
  <img src="../static/images/front_004.jpg" width="1440px" height="740px">
  <img src="../static/images/front_005.jpg" width="1440px" height="740px">
  <img src="../static/images/front_006.jpg" width="1440px" height="740px">
  <img src="../static/images/front_007.jpg" width="1440px" height="740px">
</div>

<div id="login">
    <button type="submit" id="login_btn" class="btn btn-primary">페이스 북으로 가입하기</button>
</div>

<!-- <script src="{{ url_for('static', filename='js/login.js') }}"></script> -->
{% endblock %}
